.App {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  flex: 1;
}

.tableContainer {
  padding: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid rgba(120, 164, 176, 1);
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgba(1, 124, 137, 1);
  color: white;
}

tr:hover {
  background-color: rgba(120, 164, 176, 1);
  color: black;
}

.sideMenu-container {
  height: 100vh;
  width: 20vw;
}

.pro-sidebar > .pro-sidebar-inner {
  background-color: rgba(53, 55, 63, 1);
}

.pro-sidebar {
  color: white;
}

.sideMenu-title {
  padding: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
